html, body {
    margin: 0;
    padding: 0;
  }
  p{
      font-size: 18px;
  }
  .background {
    position:  fixed;
    display:  block;
    top: 0;
    left: 0;
    z-index: -1000;
  } 
  .avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 15px;
    border: 2px solid #000;
  }
  .social{
      color: #6c757d;
      padding: 12.5px 10px;
      margin: 0;
  }
  .social:hover{
      background-color: #6c757d;
      color: white;
      border-radius: 50%;
  }

  .bottom-link{
      margin-top: 5px;
      padding: 13px;
  }